		{% if lang == 'kong is disabled; meeting this condition will display kong material' %}
		
		<div class="feature-container" id="pos-01">
			<div class="feature wrapper-wide clearfix">
            	<div class="wrapper clearfix">
            		<div class="feature-left">
            			<div class="statements initialload">
            				<div class="whatif_ dark" id="wi1">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></div>
            			</div>
            		</div>
            		<div class="feature-right">
            			<div class="statements initialload">
            				<div class="statement-one white" id="st1-1">{{ page.features.kong.statement_01 | t: }}</div>
            				<div class="statement-two white" id="st2-1">{{ page.features.kong.statement_02 | t: }}</div>
            				<div class="statement-three white" id="st3-1">{{ page.features.kong.statement_03 | t: }}</div>
            				<div class="tag-line white" id="tag1">{{ page.features.kong.tagline | t: }}<span class="trademark">&trade;</span></div>
            			</div>
               		</div>
            	</div>
        		<div class="feature-left">
        			<a class="learnmore split trackhub-kong  initialloadbtn" href="feature/the_kings_of_new_york.html" id="split1">{{ site.copy.buttons.learn_more | t: }}</a>
        			<img src="{{ page.relative_root }}img/home/feature_kong_left.jpg" />
        		</div>
        		<div class="feature-right">
        			<img src="{{ page.relative_root }}img/home/feature_kong_right.jpg" id="feature1right"/>
        		</div>
            </div> <!-- #feature -->

        </div> <!-- #feature-container -->
        
        {% else %}
        
        <div class="feature-container slider" id="pos-03">
            <div class="feature wrapper-wide notoppadding clearfix">
            	<div class="feature-full">
            		<div class="wrapper clearfix">
            			<div class="statements-full initialload">
            				<div class="whatif_" id="wi2">{{ site.copy.nml.what_if | t:}}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></div>
            				<div class="statement-one" id="st1-2">{{ page.features.gt_r.statement_01 | t: }}</div>
            				<div class="statement-two" id="st2-2">{{ page.features.gt_r.statement_02 | t: }}{% if page.features.gt_r.statement_02_em %}<span class="strong em">{{ page.features.gt_r.statement_02_em | t: }}</span>{% endif %}{{ page.features.gt_r.statement_02_post | t: }}</div>
            				<div class="statement-three" id="st3-2">{{ page.features.gt_r.statement_03 | t: }}</div>
            				<div class="statement-four" id="st4-2">{{ page.features.gt_r.statement_04 | t: }}</div>
            				<a class="learnmore leftlearn trackhub-gtrfeature initialloadbtn" href="feature/nissan_gt_r.html" id="split2">{{ site.copy.buttons.learn_more | t: }}</a>
            			</div>
            			<div class="statements">
            				<div class="tag-line white" id="tag2">{{ page.features.gt_r.tagline | t: }}<span class="trademark">&trade;</span></div>
            			</div>
            		</div>
        			<img src="{{ page.relative_root }}img/home/gtr_full.jpg" id="feature2full"/>
        		</div>
            </div> <!-- #feature -->
        </div> <!-- #feature-container -->
        
        {% endif %}
        
        <div class="copy-container slider" id="pos-02">
        	<div class="copy wrapper-wide clearfix">
        		<div class="wrapper clearfix">
        			<h1><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span> {{ page.title | t: }}</h1>
        			<p>{{ page.description | t: }}</p>
        		</div>
        	</div>
        </div>
        
        <div class="feature-container" id="pos-01">
			<div class="feature wrapper-wide clearfix">
            	<div class="wrapper clearfix">
            		<div class="feature-left">
            			<div class="statements initialload">
            				<div class="whatif_ dark" id="wi1">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></div>
            			</div>
            		</div>
            		<div class="feature-right">
            			<div class="statements initialload">
            				<div class="statement-one white" id="st1-1">{{ page.features.leaf.statement_01 | t: }}</div>
            				<div class="statement-two white" id="st2-1">{{ page.features.leaf.statement_02 | t: }}</div>
            				<div class="statement-three" id="st3-1">{{ page.features.leaf.statement_03 | t: }}</div>
            				<div class="tag-line white" id="tag1">{{ page.features.leaf.tagline | t: }}<span class="trademark">&trade;</span></div>
            			</div>
               		</div>
            	</div>
        		<div class="feature-left">
        			<a class="learnmore split trackhub-rcc  initialloadbtn" href="feature/sunrise_to_sunset.html" id="split1">{{ site.copy.buttons.learn_more | t: }}</a>
        			<img src="{{ page.relative_root }}img/home/feature_04_left.jpg" />
        		</div>
        		<div class="feature-right">
        			<img src="{{ page.relative_root }}img/home/feature_04_right.jpg" id="feature1right"/>
        		</div>
            </div> <!-- #feature -->

        </div> <!-- #feature-container -->
        
        
        <div class="panel-container slider" id="pos-04">
        	<div class="wrapper-wide clearfix">
            <div class="panels wrapper clearfix">
            	<ul class="grid-wrap quarter-gutter removebottom quartertop-m">
					<li class="panel grid-col bp1-col-two-thirds">
						<ul class="grid-wrap quarter-gutter no-bottom-gutter">
							<li class="panel grid-col bp1-col-full quarterbottom removemargin">
								<div class="panelover paneldouble trackhub-aroundviewmonitor">
								
									{% if lang == 'it' or lang == 'pt' or lang == 'de' %}
								
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.around_view_monitor_small.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.around_view_monitor_small.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.around_view_monitor_small.statement_03 | t: }}</div>
									
									{% else %}
									
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.around_view_monitor.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.around_view_monitor.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.around_view_monitor.statement_03 | t: }}</div>
									
									{% endif %}
									
									<div class="paneloverlink" style="z-index:3">
										<a class="learnmorepanel trackhub-aroundviewmonitor" href="feature/around_view_monitor.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/avm_small_bkg.jpg" alt="{{ page.features.around_view_monitor.statement_03 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-aroundviewmonitor" href="feature/around_view_monitor.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/deltawing.html"><img src="{{ page.relative_root }}img/home/avm_small.jpg" alt="{{ page.features.around_view_monitor.statement_03 | t: }}"/></a>
							</li>
							<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop">
								<div class="panelover trackhub-gtr {% if lang == 'en'%}gt_r_en{% endif %}">
									{% if lang == 'ru' or lang == 'it' or lang == 'de' %}
									
									<div class="panelover-one ru2-panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_r_small.statement_01 | t: }}</div>
									<div class="panelover-two ru2-panelover-two">{{ page.features.gt_r_small.statement_02 | t: }}</div>
									<div class="panelover-three ru2-panelover-three">{{ page.features.gt_r_small.statement_03 | t: }}</div>
									<div class="panelover-four ru2-panelover-four">{{ page.features.gt_r_small.statement_04 | t: }}</div>
									<div class="panelover-four ru2-panelover-five">{{ page.features.gt_r_small.statement_05 | t: }}</div>
									
									{% elsif lang == 'fr' or lang == 'es'%}
									
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_r_small.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.gt_r_small.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.gt_r_small.statement_03 | t: }}</div>
									
									{% elsif lang == 'en'%}
									
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_r.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.gt_r.statement_02 | t: }}{% if page.features.gt_r.statement_02_em %}<span class="strong em">{{ page.features.gt_r.statement_02_em | t: }}</span>{% endif %}{{ page.features.gt_r.statement_02_post | t: }}</div>
									<div class="panelover-two">{{ page.features.gt_r.statement_03 | t: }}</div>
									<div class="panelover-three">{{ page.features.gt_r.statement_04 | t: }}</div>
									
									{% else %}
									
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_r.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.gt_r.statement_02 | t: }}{% if page.features.gt_r.statement_02_em %}<span class="strong em">{{ page.features.gt_r.statement_02_em | t: }}</span>{% endif %}{{ page.features.gt_r.statement_02_post | t: }}</div>
									<div class="panelover-three">{{ page.features.gt_r.statement_03 | t: }}</div>
									
									{% endif %}
									<div class="paneloverlink">
										<a class="learnmorepanel trackhub-gtr" href="feature/nissan_gt_r.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/gtr_bkg.jpg" alt="{{ page.features.gt_r.statement_03 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-gtr" href="feature/nissan_gt_r.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/nissan_gt_r.html"><img src="{{ page.relative_root }}img/home/gtr.jpg" alt="{{ page.features.gt_r.statement_03 | t: }}"/></a>
							</li>
							<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop">
								<div class="panelover trackhub-370">
									{% if lang == 'it' or lang == 'fr' %}
									
									<div class="panelover-one lessten ru-panelover-one "><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.project_370z.statement_01 | t: }}</div>
									<div class="panelover-two lessten ru-panelover-two">{{ page.features.project_370z.statement_02 | t: }}</div>
									<div class="panelover-three ru-panelover-three">{{ page.features.project_370z.statement_03 | t: }}</div>
									<div class="panelover-four ru-panelover-four">{{ page.features.project_370z.statement_04 | t: }}</div>
								
									{% else %}								
								
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.project_370z.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.project_370z.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.project_370z.statement_03 | t: }}</div>
									
									{% endif %}
									
									<div class="paneloverlink">
										<a class="learnmorepanel trackhub-370" href="feature/project_370z.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/project_370z_bkg.jpg" alt="{{ page.features.project_370z.statement_03 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-370" href="feature/project_370z.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/project_370z.html"><img src="{{ page.relative_root }}img/home/project_370z.jpg" alt="{{ page.features.project_370z.statement_03 | t: }}"/></a>
							</li>
							
						</ul>
					</li>
					<li class="panel grid-col bp1-col-one-third removemargin">
						<ul class="grid-wrap quarter-gutter smallgutter">
							<li class="panel grid-col bp1-col-full quarterbottom">
								<div class="panelover trackhub-jukebox">
								
									{% if lang == 'it' or lang == 'de' %}
								
									<div class="panelover-one lessten ru-panelover-one "><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.juke_box.statement_01 | t: }}</div>
									<div class="panelover-two lessten ru-panelover-two">{{ page.features.juke_box.statement_02 | t: }}</div>
									<div class="panelover-three ru-panelover-three">{{ page.features.juke_box.statement_03 | t: }}</div>
									<div class="panelover-four ru-panelover-four">{{ page.features.juke_box.statement_04 | t: }}</div>
									
									{% else %}	
									
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.juke_box.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.juke_box.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.juke_box.statement_03 | t: }}</div>
									
									{% endif %}
									
									<div class="paneloverlink trackhub-jukebox">
										<a class="learnmorepanel" href="feature/juke_box.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/juke_box_bkg.jpg" alt="{{ page.features.juke_box.statement_03 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-jukebox" href="feature/juke_box.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/juke_box.html"><img src="{{ page.relative_root }}img/home/juke_box.jpg" alt="{{ page.features.juke_box.statement_03 | t: }}"/></a>
							</li>
							
							<li class="panel grid-col bp1-col-full addmargin quartertop">
								<div class="panelover panelovertall trackhub-rc">
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.remote_charge.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.remote_charge.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.remote_charge.statement_03 | t: }}</div>
									<div class="panelover-four">{{ page.features.remote_charge.statement_04 | t: }}</div>
									<div class="paneloverlink">
										<a class="learnmorepanel trackhub-rc" href="feature/remote_charge.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/remote_charge_bkg.jpg" alt="{{ page.features.remote_charge.statement_04 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-rc" href="feature/remote_charge.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/remote_charge.html"><img src="{{ page.relative_root }}img/home/remote_charge.jpg" alt="{{ page.features.remote_charge.statement_04 | t: }}"/></a>
							</li>
							
						</ul>
					</li>
				</ul>
				
				<ul class="grid-wrap quarter-gutter removetop">
					<li class="panel grid-col bp1-col-one-third no-bottom-gutter">
						<ul class="grid-wrap quarter-gutter quarterbottom-m">
							<li class="panel grid-col bp1-col-full">
								<div class="panelover panelovertall trackhub-taxi">
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.taxi_tomorrow.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.taxi_tomorrow.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.taxi_tomorrow.statement_03 | t: }}</div>
									<div class="panelover-four">{{ page.features.taxi_tomorrow.statement_04 | t: }}</div>
									<div class="paneloverlink">
										<a class="learnmorepanel trackhub-taxi" href="feature/taxi_of_tomorrow.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/taxi_of_tomorrow_bkg.jpg" alt="{{ page.features.taxi_tomorrow.statement_04 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-taxi" href="feature/taxi_of_tomorrow.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/taxi_of_tomorrow.html"><img src="{{ page.relative_root }}img/home/taxi_of_tomorrow.jpg" alt="{{ page.features.taxi_tomorrow.statement_04 | t: }}"/></a>
							</li>
						</ul>
					</li>
					<li class="panel grid-col bp1-col-two-thirds no-bottom-gutter">
						<ul class="grid-wrap quarter-gutter quarterbottom-m">
							<li class="panel grid-col bp1-col-full">
								<div class="panelover paneldouble trackhub-rcc">
									<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.remote_climate_control.statement_01 | t: }}</div>
									<div class="panelover-two">{{ page.features.remote_climate_control.statement_02 | t: }}</div>
									<div class="panelover-three">{{ page.features.remote_climate_control.statement_03 | t: }}</div>
									<div class="paneloverlink" style="z-index:3">
										<a class="learnmorepanel trackhub-rcc" href="feature/remote_climate_control.html">{{ site.copy.buttons.learn_more | t: }}</a>
									</div>
									<img src="{{ page.relative_root }}img/home/rcc_bkg.jpg" alt="{{ page.features.remote_climate_control.statement_03 | t: }}"/>
								</div>
								<a class="learnmorecircle trackhub-rcc" href="feature/remote_climate_control.html">{{ site.copy.buttons.learn_more | t: }}</a>
								<a href="feature/remote_climate_control.html"><img src="{{ page.relative_root }}img/home/rcc.jpg" alt="{{ page.features.remote_climate_control.statement_03 | t: }}"/></a>
							</li>
						</ul>
					</li>
				</ul>
				
				
            </div> <!-- #panel -->
            </div>
        </div> <!-- #panel-container -->
        
        <div class="feature-container slider" id="pos-05">
            <div class="feature wrapper-wide notoppadding clearfix">
            	
            	<div class="wrapper">
            		<div class="feature-left">
            			<div class="statements initialload">
	            			<div class="whatif_" id="wi4">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></div>
	            		</div>
            		</div>
            		<div class="feature-right">
            			<div class="statements  initialload">
            				<div class="statement-one" id="st1-4">{{ page.features.remote_climate_control_feature.statement_01 | t: }}</div>
            				<div class="statement-two" id="st2-4">{{ page.features.remote_climate_control_feature.statement_02 | t: }}</div>
            				<div class="statement-three" id="st3-4">{{ page.features.remote_climate_control_feature.statement_03 | t: }}</div>
            				<div class="tag-line" id="tag4">{{ page.features.remote_climate_control_feature.tagline | t: }}<span class="trademark">&trade;</span></div>
            			</div>
            		</div>
            	</div>
            	<div class="feature-left">
            		<a class="learnmore split trackhub-rcc-large initialloadbtn" href="feature/remote_climate_control.html" id="split4" >{{ site.copy.buttons.learn_more | t: }}</a>
            		<img src="{{ page.relative_root }}img/home/rcc_feature_left.jpg" />
        		</div>
        		<div class="feature-right">
        			<img src="{{ page.relative_root }}img/home/rcc_feature_right.jpg" id="feature4right" />
        		</div>
            </div> <!-- #feature -->
			
        </div> <!-- #feature-container -->
        
        <div class="panel-container slider" id="pos-06">
        	<div class="wrapper-wide clearfix">
            <div class="panels wrapper clearfix">
            	<ul class="grid-wrap quarter-gutter removetop clearboth">
        			<li class="panel grid-col bp1-col-one-third ">
        				<ul class="grid-wrap quarter-gutter smallgutter no-bottom-gutter clearboth">
        					<li class="panel grid-col bp1-col-full quartertop">
        						<div class="panelover trackhub-nismo">
        						
        							{% if lang == 'fr' or lang == 'it' %}
        							<div class="panelover-one lessten ru-panelover-one "><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.leaf_nismo_rc.statement_01 | t: }}</div>
        							<div class="panelover-two lessten ru-panelover-two">{{ page.features.leaf_nismo_rc.statement_02 | t: }}</div>
        							<div class="panelover-three ru-panelover-three">{{ page.features.leaf_nismo_rc.statement_03 | t: }}</div>
        							<div class="panelover-four ru-panelover-four">{{ page.features.leaf_nismo_rc.statement_04 | t: }}</div>
        							
        							{% else  %}
        							
        							<div class="panelover-one lessten"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.leaf_nismo_rc.statement_01 | t: }}</div>
        							<div class="panelover-two lessten">{{ page.features.leaf_nismo_rc.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.leaf_nismo_rc.statement_03 | t: }}</div>
        							
        							{% endif %}
        							
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-nismo" href="feature/leaf_nismo_rc.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/leaf_nismo_rc_bkg.jpg" alt="{{ page.features.leaf_nismo_rc.statement_03 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-nismo" href="feature/leaf_nismo_rc.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/leaf_nismo_rc.html"><img src="{{ page.relative_root }}img/home/leaf_nismo_rc.jpg" alt="{{ page.features.leaf_nismo_rc.statement_03 | t: }}"/></a>
        					</li>
        					
        					<li class="panel grid-col bp1-col-full addmargin quartertop">
        						<div class="panelover panelovertall trackhub-planetzero">
        							<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.planet_zero.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.planet_zero.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.planet_zero.statement_03 | t: }}</div>
        							<div class="panelover-four">{{ page.features.planet_zero.statement_04 | t: }}</div>
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-planetzero" href="feature/the_planet_zero.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/the_planet_zero_bkg.jpg" alt="{{ page.features.planet_zero.statement_04 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-planetzero" href="feature/the_planet_zero.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/the_planet_zero.html"><img src="{{ page.relative_root }}img/home/the_planet_zero.jpg" alt="{{ page.features.planet_zero.statement_04 | t: }}"/></a>
        					</li>
        					
        					<li class="panel grid-col bp1-col-full addmargin quartertop">
        						<div class="panelover panelovertall trackhub-bolt-tile">
        							<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.director_excitement_small.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.director_excitement_small.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.director_excitement_small.statement_03 | t: }}</div>
        							<div class="panelover-four">{{ page.features.director_excitement_small.statement_04 | t: }}</div>
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-bolt-tile" href="feature/director_of_excitement.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/bolt_bkg.jpg" alt="{{ page.features.director_excitement_small.statement_04 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-bolt-tile" href="feature/director_of_excitement.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/director_of_excitement.html"><img src="{{ page.relative_root }}img/home/bolt.jpg" alt="{{ page.features.director_excitement_small.statement_04 | t: }}"/></a>
        					</li>
        					
        				</ul>
        			</li>
        			<li class="panel grid-col bp1-col-two-thirds removemargin">
        				<ul class="grid-wrap quarter-gutter quartertop-m">
        					<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop">
        						<div class="panelover panelovertall trackhub-gta">
        						
        							{% if lang == 'it' or lang == 'de' %}
        							
    								<div class="panelover-one leftalign"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_academy.statement_01 | t: }}</div>
    								<div class="panelover-two">{{ page.features.gt_academy.statement_02 | t: }}</div>
    								<div class="panelover-three">{{ page.features.gt_academy.statement_03 | t: }}</div>
    								<div class="panelover-four">{{ page.features.gt_academy.statement_04 | t: }}</div>
    								
    								{% else  %}
        						
        							<div class="panelover-two leftalign"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.gt_academy.statement_01 | t: }}</div>
        							<div class="panelover-three">{{ page.features.gt_academy.statement_02 | t: }}</div>
        							<div class="panelover-four">{{ page.features.gt_academy.statement_03 | t: }}</div>
        							
        							{% endif  %}
        							
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-gta" href="feature/gt_academy.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/gt_academy_bkg.jpg" alt="{{ page.features.gt_academy.statement_03 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-gta" href="feature/gt_academy.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/gt_academy.html"><img src="{{ page.relative_root }}img/home/gt_academy.jpg" alt="{{ page.features.gt_academy.statement_03 | t: }}"/></a>
        					</li>
        					<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop ">
        						<div class="panelover panelovertall trackhub-juke-r">
        						
        							{% if lang == 'it' %}
        						
        							<div class="panelover-one leftalign"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.juke_r.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.juke_r.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.juke_r.statement_03 | t: }}</div>
        							<div class="panelover-four">{{ page.features.juke_r.statement_04 | t: }}</div>
        						
        							{% else  %}
        							
        							<div class="panelover-two leftalign"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.juke_r.statement_01 | t: }}</div>
        							<div class="panelover-three">{{ page.features.juke_r.statement_02 | t: }}</div>
        							<div class="panelover-four">{{ page.features.juke_r.statement_03 | t: }}</div>
        							
        							{% endif  %}
        							
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-juke-r" href="feature/juke_r.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/juke_r_bkg.jpg" alt="{{ page.features.juke_r.statement_03 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-juke-r" href="feature/juke_r.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/juke_r.html"><img src="{{ page.relative_root }}img/home/juke_r.jpg" alt="{{ page.features.juke_r.statement_03 | t: }}"/></a>
        					</li>
        					
        					<li class="panel grid-col bp1-col-full removemargin quartertop">
        						<div class="panelover paneldouble trackhub-deltawing">
        							<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.deltawing.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.deltawing.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.deltawing.statement_03 | t: }}</div>
        							<div class="paneloverlink" style="z-index:3">
        								<a class="learnmorepanel trackhub-deltawing" href="feature/deltawing.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/deltawing_bkg.jpg" alt="{{ page.features.deltawing.statement_03 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-deltawing" href="feature/deltawing.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/deltawing.html"><img src="{{ page.relative_root }}img/home/deltawing.jpg" alt="{{ page.features.deltawing.statement_03 | t: }}"/></a>
        					</li>
        					<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop">
        						<div class="panelover trackhub-petrol">
        							{% if lang == 'ru' or lang == 'fr' %}
        							
        							<div class="panelover-one ru-panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.world_without_petrol.statement_01 | t: }}</div>
        							<div class="panelover-two ru-panelover-two">{{ page.features.world_without_petrol.statement_02 | t: }}</div>
        							<div class="panelover-three ru-panelover-three">{{ page.features.world_without_petrol.statement_03 | t: }}</div>
        							<div class="panelover-four ru-panelover-four">{{ page.features.world_without_petrol.statement_04 | t: }}</div>
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-petrol" href="feature/world_without_petrol.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							
        							{% else %}
        							
        							<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.world_without_petrol.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.world_without_petrol.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.world_without_petrol.statement_03 | t: }}</div>
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-petrol" href="feature/world_without_petrol.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							
        							{% endif %}
        							
        							<img src="{{ page.relative_root }}img/home/world_without_petrol_bkg.jpg" alt="{{ page.features.world_without_petrol.statement_03 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-petrol" href="feature/world_without_petrol.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/world_without_petrol.html"><img src="{{ page.relative_root }}img/home/world_without_petrol.jpg" alt="{{ page.features.world_without_petrol.statement_03 | t: }}"/></a>
        					</li>
        					<li class="panel grid-col bp1-col-one-half bp2-col-one-half quartertop">
        						<div class="panelover trackhub-sunrise">
        							<div class="panelover-one"><span class="whatif_bold">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></span>{{ page.features.leaf_sunrise.statement_01 | t: }}</div>
        							<div class="panelover-two">{{ page.features.leaf_sunrise.statement_02 | t: }}</div>
        							<div class="panelover-three">{{ page.features.leaf_sunrise.statement_03 | t: }}</div>
        							<div class="paneloverlink">
        								<a class="learnmorepanel trackhub-sunrise" href="feature/sunrise_to_sunset.html">{{ site.copy.buttons.learn_more | t: }}</a>
        							</div>
        							<img src="{{ page.relative_root }}img/home/sunrise_to_sunset_bkg.jpg" alt="{{ page.features.leaf_sunrise.statement_04 | t: }}"/>
        						</div>
        						<a class="learnmorecircle trackhub-sunrise" href="feature/sunrise_to_sunset.html">{{ site.copy.buttons.learn_more | t: }}</a>
        						<a href="feature/sunrise_to_sunset.html"><img src="{{ page.relative_root }}img/home/sunrise_to_sunset.jpg" alt="{{ page.features.leaf_sunrise.statement_04 | t: }}"/></a>
        					</li>
        					
        				</ul>
        			</li>
        		</ul>
            </div> <!-- #panel -->
            </div>
        </div> <!-- #panel-container -->
        
        <div class="feature-container slider" id="pos-07">
            <div class="feature wrapper-wide notoppadding clearfix">
            	
            	<div class="wrapper clearfix">
            		<div class="feature-left">
            			<div class="statements initialload">
                			<div class="whatif_ dark" id="wi7">{{ site.copy.nml.what_if | t: }}<span class="underscore">{{ site.copy.general.underscore | t: }}</span></div>
                		</div>
            		</div>
            		<div class="feature-right">
            			<div class="statements  initialload">
            				<div class="statement-one white" id="st1-7">{{ page.features.around_view_monitor.statement_01 | t: }}</div>
            				<div class="statement-two white" id="st2-7">{{ page.features.around_view_monitor.statement_02 | t: }}</div>
            				<div class="statement-three" id="st3-7">{{ page.features.around_view_monitor.statement_03 | t: }}</div>
            				<div class="tag-line  white" id="tag7">{{ page.features.around_view_monitor.tagline | t: }}<span class="trademark">&trade;</span></div>
            			</div>
            		</div>
            	</div>
            	<div class="feature-left">
            		<a class="learnmore split trackhub-aroundviewmonitor-large initialloadbtn" href="feature/around_view_monitor.html" id="split7" >{{ site.copy.buttons.learn_more | t: }}</a>
            		<img src="{{ page.relative_root }}img/home/avm_left.jpg" />
        		</div>
        		<div class="feature-right">
        			<img src="{{ page.relative_root }}img/home/avm_right.jpg" id="feature7right" />
        		</div>
            </div> <!-- #feature -->
        	
        </div> <!-- #feature-container -->
