 		
 		<div class="header-container noborder slider">
        	<div class="wrapper-wide borderbottom clearfix">
            <header class="wrapper clearfix noborder">
            	<a href="index.html" id="logo" class="trackcommon-01_icon">{{ site.copy.nml.nissan | t: }} {{ site.copy.nml.shift | t: }}{{ site.copy.general.underscore | t: }}</a>
                <div class="title">
                	<a href="index.html" class="trackcommon-01">{{ site.copy.general.home | t: }}</a>
                	<a href="explore_innovations.html" class="trackcommon-01b">{{ site.copy.general.explore_innovations | t: }}</a>
                </div>
                <a href="#" class="menu-trigger"></a>
            </header>
            </div>
        </div>

    
